<div class="panel panel-default" id="search">
	<div class="panel-heading">
		<h2>Search:</h2>
	</div>
	<div class="panel-body">
		<%= form_tag '/search', id: 'search_form', method: 'POST' do %>
			<%= text_field_tag :query, nil, class: "form-control comment", placeholder: "search by name or ingredient" %><br>
			<%= submit_tag 'Search Recipes', class: "btn btn-primary" %>
		<% end %>
		<p></p>
			
		<p><%= link_to "other search options", search_path %></p>
	</div>
</div>

<!-- insert results from search here -->
<div id="recipes"></div>

<a href="" id="load">Load More Recipes</a>


<!-- template to inject recipe data into -->

<script id="recipe-template" type="text/x-handlebars-template">
  <div class="panel panel-default comment">
  	<div class="panel-heading" >
    	<strong><a href="recipes/{{id}}">{{name}}</a></strong> by: <a href="recipes/{{user_id}}">{{userName}}</a>
    </div>
		<div class="panel-body">
      <p>Posted on: {{body}}</p>
			{{#if rating}}
				<p>Rating: {{rating}}
			{{/if}}
    </div>
  </div>
</script>










