
	<div class="panel-body">	
		<div class="form-group row">
			<label class="col-md-2 control-label" for="recipe_ingredients_attributes_name">Name</label>
			<input class="form-control comment col-md-2" type="text" name="recipe[ingredients_attributes][][name]" id="recipe_ingredients_attributes_name">
			<label class="col-md-2 control-label	" for="recipe_ingredients_attributes_measurement">Measurement</label>
			<input class="form-control measurement col-md-2" type="text" name="recipe[ingredients_attributes][][measurement]" id="recipe_ingredients_attributes_measurement">
		</div>
	</div>
