/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "themes/form";
@import "themes/bootstrap_themes";
@import "themes/comment_styles";
@import "ratings";
@import "recipes";
@import url(https://fonts.googleapis.com/css?family=Chewy);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);



body { 
  background: url(/assets/vegetables.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main {
	text-align: center;
	a.btn {
		border: solid .5px;
		background: none;
	};
	a.btn:hover {
			background: rgba(255, 255, 255, 0.6);
		};

}

.logo {
	h1 {
		font-size: 100px;
		color: white;
	  // -webkit-text-fill-color: white; /* Will override color (regardless of order) */
	  -webkit-text-stroke-width: 2px;
	  -webkit-text-stroke-color: black;
	};
	p {
		font-size: 25px;
		margin-top: 20px;
		color: white;
	};
	font-family: 'Indie Flower', cursive;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 10%
}

.navbar-inverse .navbar-brand {
	font-family: 'Pacifico';
	color: black;
  // -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: white;
}

.navbar-inverse .navbar-brand:hover {
	color: rgba(255, 255, 255, 0.6);
}

.panel {
	.panel-heading {
		background: rgba(255, 255, 255, 0.6);
	};
	
	background: rgba(255, 255, 255, 0.6);
}

.form-control {
	background: rgba(255, 255, 255, 0.8)
}

#user-card {
	
}

#front-logo {
	text-align: center;
	img {
		height: 200px;
		widows: 200px;
	}
}

.fill {
	fill: white;
}

.card-link {
	font-family: 'Chewy';
	font-size: 20px;
	color: #333333;
	  // -webkit-text-fill-color: white; /* Will override color (regardless of order) */
	  -webkit-text-stroke-width: .5px;
	  -webkit-text-stroke-color: black;
	margin-bottom: 5%;
}

.card-link:hover {
	color: #a6a6a6;
	text-decoration: none;
}

.devise-links {
	a {
		color: #E8E8E8;
	};
	a:hover {
		color: #D8D8D8; 
	}
}


/* //////fonts//////// */

h2 {
	font-family: 'Chewy';
}







