// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.recipe-profile-card {
  border-top: 1px dotted #e6e6e6;
  padding-top: 3%;
  margin-top: 3%;
}

.index-image {
	width: 100%;
}

.recipe-index {
	padding: 10px 15px;
  border-radius: 3px;
	background: #f8f8f8;
	margin-bottom: 5%;
}
